@import "reset.css"
@import "bourbon/bourbon"

$main_color: #f29700

body
  font-family: "Arial", sans-serif
  font-weight: normal
  font-size: 14px
  min-width: 320px

.hidden
  display: none

header
  .top_line
    overflow: hidden
    border-top: 1px solid #bebebe
    border-bottom: 1px solid #dbddde
    .logo
      overflow: hidden
      padding: 25px 0
      img
        float: left
        margin: 0 10px
      h1
        font-family: "UbuntuBold", sans-serif
        font-size: 24px
        margin-top: 9px
        height: 31px
        color: $main_color
      p
        font-size: 12px
        color: #6f6f6f
    form
      border: 1px solid #e5e5e5
      border-radius: 3px
      width: 238px
      height: 24px
      float: right
      margin-top: 45px
      .search-txt

        padding-left: 5px
        width: 207px
      .search-btn

        width: 15px
        height: 15px
        padding-top: 3px
        background: url("/img/search_btn.png") no-repeat

.top_nav
  overflow: hidden
  margin: 0 auto
  width: 765px
  li
    float: left
    a
      padding: 14px 23px 12px 18px
      display: block
      color: #3c4148
      font-family: "Arial", sans-serif
      font-weight: bold
      font-size: 15px
      &:hover
        background: $main_color
        color: #fff
  .active
    background: #3c4148
    color: #fff

#owl-demo .item img
  display: block
  width: 100%
  height: auto

.item
  img
    position: relative
.carousel-caption
  position: absolute
  width: 600px
  left: 100px
  top: 60px

  span
    font-family: "RobotoBold", sans-serif
    font-size: 16px
    text-transform: uppercase
    color: #fff
    padding: 5px 9px
    background: $main_color
    box-shadow: 0 1px 0 rgba(0,0,0,0.3) /* Параметры тени */
  h1
    font-family: "RobotoBold", sans-serif
    font-size: 60px
    line-height: 49px
    margin: 13px 0 25px
    color: #fff
    text-shadow: 0 1px 0 rgba(0,0,0,0.3) /* Параметры тени */
  p
    color: #fff
    font-size: 16px
    font-weight: bold
    text-shadow: 0 1px 0 rgba(0,0,0,0.3) /* Параметры тени */